.job_seeker-content {
  display: block;
  width: 100%;
  padding-bottom: 0.72222em; }
  .job_seeker-content .row {
    margin: -15px -5px; }
    .job_seeker-content .row *[class*="cols-"],
    .job_seeker-content .row *[class*="col-"] {
      padding: 15px 5px; }

.job_seeker-col {
  padding-top: 1.38889em; }

.job_seeker-image {
  display: block;
  width: 100%; }
  .job_seeker-image img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
